@charset "UTF-8";
*{
          margin: 0;
          padding: 0;
}
div{
      margin-top: 30px;
}
img{
          border: 0;
}
ul, ol{
          list-style-type: none;
}
a{
          text-decoration: none;
}
body{
      padding-top: 54px;
      color: #868e96;

}
h1, h2, h3, h4, h5, h6{
      font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,
      'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji',
      'Segoe UI Symbol','Noto Color Emoji';
      font-weight: 700;
      text-transform: uppercase;
      color: #343a40;
      margin-bottom: 30px;

  }
  section{
        position: relative;
        margin-top: 4em;
  }
  section div{
        position: relative;
        padding: 10px;
  }

/*Main Code Start*/
.wrapper-full{
          width: 100%;
          height: 65px;
          background-color: lightcyan;
         
}
          
.wrapper{
          width: 1170px;
           margin:0 auto;
      
}

.navbar-full{
          background-color: lightcyan;
          

}
.navbar{
      
      height: 65px;
      line-height: 65px;
     

}
.navbar ul{
          overflow: hidden;
          float: left;
          font-weight: bold;
          
}
.navbar ul li{
         
       margin-right: 5px;
       
}
.navbar ul li a{
          
          color: black;
            display: block;
          padding: 0 20px;
          transition: all linear 0.6s;
        font-weight: bold;
}
.navbar ul li a:hover{
          color: white;
          background-color: red;
      
          
}
/*Body  */

.body{
         float: left;
         display:flex;
         
     
}
.index-body{
      background-color: rgb(245, 231, 233);
}
.body div{
      margin: 2em 2em;
}
.first-image{
     
    height: 32em;
}
.description{
           
          margin: 30px 20px;
}
.description p{
          font-family: Tahoma;
          font-size: 18px;
          line-height: 45px;
          padding: 24px 0;    
}
.social-icons a{
        
                   display: inline-block;
                    height: 3.5rem;
                    width: 3.5rem;
                    color: green;
                    background-color: rgb(182, 230, 230);
                    border-radius: 30%;
                    text-align: center;
                    font-size: 32px;
                    line-height: 3.5rem;
                    margin-right: 5px;
}
.social-icons a:hover{
          color: white;
          background-color:gray;
}
/*Education section*/
.edu{
          text-transform: uppercase;
         /* padding-top: 33em;*/
          

}
.university{

}
.hsc{

}
.ssc{

}
.h1fonts{

}

/*Footer start*/
.footer-full{
          background-color: lightgray;
          height: 100%;
          position: relative;
          
}
.footer{
         
          height: 20px;
          

          

}
.footer p{
          float: left;
          margin: 0 14em;
}




/*-- SKILLS & Experience */

.skills{
      margin-left: 6em;
}
.bgColor{
      background: #DBE6F6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      color: black;
      
      
}


/*-- HOBBY --*/

.hobby-body{
      background-color: #f1f2f6;
      background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
      
      color: black;
      
      
}
.img-size{
      height: 33em;
      width: 75em;

}
.textP{
    
}
